{% extends 'base.html.twig' %}

{% block title %}Tous les acteurs{% endblock %}

{% block body %}
    <h1>Tous les acteurs : </h1>
    <ul>
    {% for actor in actors %}
        <a href="{{ path("actor_show", { id: actor.id } ) }}">
            <li>{{ actor.name }} </li>
        </a>
    {% else %}
        Aucun acteur trouvé.
    {% endfor %}
    </ul>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}